In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('shoe.csv')

In [ ]:
df.head()

   size(cm) class(y)
0     9.500   Female
1    10.125     Male
2    10.410     Male
3     9.810   Female
4    11.050     Male

In [ ]:
df.shape

(40, 2)

In [ ]:
df['class(y)'] = df['class(y)'].replace(['Female','Male'],[0,1])

In [ ]:
df.head()

   size(cm)  class(y)
0     9.500         0
1    10.125         1
2    10.410         1
3     9.810         0
4    11.050         1

In [ ]:
x=df.drop('class(y)', axis=1)

In [ ]:
y=df[['class(y)']]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
reg = LogisticRegression()

In [ ]:
reg.fit(x,y)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
reg.coef_

array([[2.62699981]])

In [ ]:
reg.intercept_

array([-26.18198935])

In [ ]:
reg.predict(x)

array([0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0])

In [ ]:
y.tail()

    class(y)
35         0
36         0
37         1
38         0
39         1

In [ ]:
reg.predict_proba(x)

array([[0.77302845, 0.22697155],
       [0.39738242, 0.60261758],
       [0.2377457 , 0.7622543 ],
       [0.6013567 , 0.3986433 ],
       [0.05486986, 0.94513014],
       [0.8951951 , 0.1048049 ],
       [0.79524583, 0.20475417],
       [0.17003227, 0.82996773],
       [0.66235827, 0.33764173],
       [0.69665958, 0.30334042],
       [0.59504263, 0.40495737],
       [0.23301782, 0.76698218],
       [0.35729164, 0.64270836],
       [0.07737361, 0.92262639],
       [0.17757582, 0.82242418],
       [0.11860381, 0.88139619],
       [0.46492055, 0.53507945],
       [0.52395197, 0.47604803],
       [0.29398481, 0.70601519],
       [0.16274575, 0.83725425],
       [0.38176611, 0.61823389],
       [0.83473184, 0.16526816],
       [0.88221669, 0.11778331],
       [0.1392146 , 0.8607854 ],
       [0.71305157, 0.28694843],
       [0.21476669, 0.78523331],
       [0.2994667 , 0.7005333 ],
       [0.09833362, 0.90166638],
       [0.2192301 , 0.7807699 ],
       [0.11860381, 0.88139619],
       [0.45187724, 0.54812276],
       [0.53703735, 0.46296265],
       [0.24253916, 0.75746084],
       [0.72890245, 0.27109755],
       [0.3755854 , 0.6244146 ],
       [0.85206517, 0.14793483],
       [0.87945944, 0.12054056],
       [0.17377172, 0.82622828],
       [0.7236803 , 0.2763197 ],
       [0.84531926, 0.15468074]])

In [ ]:
x.head()

   size(cm)
0     9.500
1    10.125
2    10.410
3     9.810
4    11.050

In [ ]:
y.head()

   class(y)
0         0
1         1
2         1
3         0
4         1

In [ ]:
e = 2.71828
th = 0.5

In [ ]:
def sigmoid_function(m, x, c):#here m is Slope, x is the input value and c is the y intercept
    lin_res = (m * x) + c
    e_neg_z = e ** (-lin_res)
    result = 1/(1 + e_neg_z)
    if result<th:
        return 0
    return 1

In [ ]:
m = float(reg.coef_[0])
c = float(reg.intercept_[0])
print(m)
print(c)

2.6269998062962943
-26.18198934645274

In [ ]:
print(sigmoid_function(m, 9.500, c))

0

In [ ]:
print(sigmoid_function(m, 10.125, c))

1

In [ ]:
print(sigmoid_function(m, 10.410, c))

1

In [ ]:
print(sigmoid_function(m, 9.810, c))

0

In [ ]:
print(sigmoid_function(m, 11.050, c))

1